.HeaderContainer {
    /*border: solid 4px rgb(55, 96, 146);*/
    display: flex;
    width: 100%;
    height: 4em;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.5%;
}

.FooterContainer {
    /*border: solid 4px rgb(55, 96, 146);*/
    display: flex;
    width: 100%;
    height: 4em;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.5%;
}


.ProcessContainer {
    /*border: solid 4px rgb(55, 96, 146);*/
    display: flex;
    width: 100%;
    height: 4em;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.5%;
}

.InsertDataFromTr {
    line-height: 3em;
}

.LHeight {
    line-height: 1em;
}

.ButtonList {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
