<div class="KPIInsert">
    <div class="col-md-12">
        <h2>Add New KPI Monitor</h2>
    </div>
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InputFromTable">
            <tr class="InsertDataFromTr">
                <th>PKI URL</th>
                <td class="LHeight"><input name="KpiUrl" placeholder="輸入取得KPI Url"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Method</th>
                <td class="LHeight">
                    <select>
                        <option>GET</option>
                        <option>POST</option>
                        <option>PUT</option>
                    </select>
                </td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>KPI Name</th>
                <td class="LHeight"><input name="RAppName" placeholder="輸入KPI Name"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Frequency</th>
                <td class="LHeight"><input name="RAppName" placeholder="輸入取得頻率(s)"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Description</th>
                <td class="LHeight"><input name="RAppDcrip" placeholder="簡易輸入KPI功能說明"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InputFromTable">
            <tr class="InsertDataFromTr">
                <th>Manufacturer</th>
                <td class="LHeight"><input name="Mfacturer" placeholder="輸入KPI提供商"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Scope</th>
                <td class="LHeight"><input name="Scope" placeholder="輸入KPI蒐集範圍"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Date</th>
                <td class="LHeight"><input name="Data" placeholder="輸入KPI上架時間"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Contact</th>
                <td class="LHeight"><input name="Contact" placeholder="輸入KPI App聯絡資訊"></td>
            </tr>
        </table>
        <div class="ButtonList">
            <div id="CloseButton" style="background-color : rgb(224,70,70);">
                Close Button
            </div>
            <div id="SendButton" style="background-color : rgb(0,255,144);">
                Add
            </div>
        </div>
    </div>
</div>