<div class="RICInsert">
    <div class="col-md-12">
        <h2>Add New Ric</h2>
    </div>
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InputFromTable">
            <tr class="InsertDataFromTr">
                <th>RIC URL</th>
                <td class="LHeight"><input name="RicUrl" placeholder="輸入RIC Url"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>RIC Name</th>
                <td class="LHeight"><input name="RicName" placeholder="輸入RIC Name"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>RIC Id</th>
                <td class="LHeight"><input name="RicName" placeholder="輸入RIC Id"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Description</th>
                <td class="LHeight"><input name="RicDcrip" placeholder="簡易輸入RIC說明"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InputFromTable">
            <tr class="InsertDataFromTr">
                <th>Manufacturer</th>
                <td class="LHeight"><input name="Mfacturer" placeholder="輸入RIC所屬廠家"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Date</th>
                <td class="LHeight"><input name="Data" placeholder="輸入RIC上架時間"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Contact</th>
                <td class="LHeight"><input name="Contact" placeholder="輸入RIC聯絡資訊"></td>
            </tr>
        </table>
        <div class="ButtonList">
            <div id="CloseButton" style="background-color : rgb(224,70,70);">
                Close Button
            </div>
            <div id="SendButton" style="background-color : rgb(0,255,144);">
                Send Button
            </div>
        </div>
    </div>
</div>
