<div class="RAppInsert">
    <div class="col-md-12">
        <h2>Add New RApp</h2>
    </div>
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InputFromTable">
            <tr class="InsertDataFromTr">
                <th>rAPP URL</th>
                <td class="LHeight"><input name="RAppUrl" placeholder="輸入R-App Url"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Method</th>
                <td class="LHeight">
                    <select>
                        <option>GET</option>
                        <option>POST</option>
                        <option>PUT</option>
                        <option>DELETE</option>
                    </select>
                </td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>rAPP Name</th>
                <td class="LHeight"><input name="RAppName" placeholder="輸入R-App Name"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Description</th>
                <td class="LHeight"><input name="RAppDcrip" placeholder="簡易輸入R-App功能說明"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InputFromTable">
            <tr class="InsertDataFromTr">
                <th>Manufacturer</th>
                <td class="LHeight"><input name="Mfacturer" placeholder="輸入R App製造商"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Scope</th>
                <td class="LHeight"><input name="Scope" placeholder="輸入R APP作用範圍"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Date</th>
                <td class="LHeight"><input name="Data" placeholder="輸入R APP上架時間"></td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Contact</th>
                <td class="LHeight"><input name="Contact" placeholder="輸入R APP聯絡資訊"></td>
            </tr>
        </table>
        <div class="ButtonList">
            <div id="CloseButton" style="background-color : rgb(224,70,70);">
                Close Button
            </div>
            <div id="SendButton" style="background-color : rgb(0,255,144);">
                Send Button
            </div>
        </div>
    </div>
</div>