<div class="KPIInfo">
    <div class="InfoTitleContainer  col-md-12">
        <div id="InfoTitle">KPI info</div>
    </div>
    <div class="TabContainer col-md-12">
        <div class="TabObj" id="KpiInfoTab">
            Info.
        </div>
        <div class="TabObj" id="KpiLineTab">
            Line.
        </div>
        <div class="TabObj" id="KpiChartTab">
            Chart.
        </div>
        <div class="TabObj" id="KpiDataTab">
            Row Data.
        </div>
    </div>
    <div class="InfoMainContainer  col-md-12">
        <div class="row">
            <div class="col-md-6 PartialInsertDataFrom">
                <table class="InfoTable">
                    <tr class="InsertDataFromTr">
                        <th>KPI URL</th>
                        <td class="LHeight">http://test.tl.kpi.com</td>
                    </tr>
                    <tr class="InsertDataFromTr">
                        <th>Method</th>
                        <td class="LHeight">
                            Get
                        </td>
                    </tr>
                    <tr class="InsertDataFromTr">
                        <th>KPI Name</th>
                        <td class="LHeight">DU Average Delay</td>
                    </tr>
                    <tr class="InsertDataFromTr">
                        <th>Frequency</th>
                        <td class="LHeight">5s</td>
                    </tr>
                    <tr class="InsertDataFromTr">
                        <th>Description</th>
                        <td class="LHeight">Measure Average Data Delay in DU</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 PartialInsertDataFrom">
                <table class="InputFromTable">
                    <tr class="InsertDataFromTr">
                        <th>Manufacturer</th>
                        <td class="LHeight">CHT_TL</td>
                    </tr>
                    <tr class="InsertDataFromTr">
                        <th>Scope</th>
                        <td class="LHeight">DU High to DU Low</td>
                    </tr>
                    <tr class="InsertDataFromTr">
                        <th>Date</th>
                        <td class="LHeight">2021/09/01 12:00:00</td>
                    </tr>
                    <tr class="InsertDataFromTr">
                        <th>Contact</th>
                        <td class="LHeight">TL_test@@com.tw</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="InfoCloseContainer col-md-12">
        <div id="CloseInfo">Close Info</div>
    </div>
</div>