<div class="RApptest">
    <div class="row">
        <div class="col-md-6">
            <h3>R-APP Name</h3>
        </div>
        <div class="col-md-6">
            health Check : <div  style="background-color : rgb(0,255,144);">200</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Json Schema
        </div>
        <div class="col-md-12" style="background-color: rgb(10,10,10); color: powderblue; white-space: pre-line;">
            "testcolTitle": "string",
            "testcolName": "string",
            "testcolData": "int",
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="CloseButton" style="background-color : rgb(224,70,70);">
                Close Button
            </div>
        </div>
    </div>
</div>
