<div class="row">
    <div class="col-md-4">
        Relate PolicyType
    </div>
    <div class="col-md-8">
        Here will give PolicyType Format
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        rApp setting
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-6 PartialInsertDataFrom">
            <table class="InfoTable">
                <tr class="InsertDataFromTr">
                    <th>setting1</th>
                    <td class="LHeight">value1</td>
                </tr>
                <tr class="InsertDataFromTr">
                    <th>setting2</th>
                    <td class="LHeight">value2</td>
                </tr>
                <tr class="InsertDataFromTr">
                    <th>setting3</th>
                    <td class="LHeight">value3</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 PartialInsertDataFrom">
            <table class="InputFromTable">
                <tr class="InsertDataFromTr">
                    <th>setting4</th>
                    <td class="LHeight">value4</td>
                </tr>
                <tr class="InsertDataFromTr">
                    <th>setting5</th>
                    <td class="LHeight">value5</td>
                </tr>
                <tr class="InsertDataFromTr">
                    <th>setting6</th>
                    <td class="LHeight">value6</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div>
        stop rApp Button
    </div>
    <div>
        run rApp Button
    </div>
</div>