
<div class="row">
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InfoTable">
            <tr class="InsertDataFromTr">
                <th>使用人數統計</th>
                <td class="LHeight">0人</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>運行時間</th>
                <td class="LHeight">
                    很久
                </td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>影響基站</th>
                <td class="LHeight">很多</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>使用Server CPU</th>
                <td class="LHeight">50%</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>使用記憶體</th>
                <td class="LHeight">很多</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InputFromTable">
            <tr class="InsertDataFromTr">
                <th>Performance指標01</th>
                <td class="LHeight">應該是一個圖</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Performance指標02</th>
                <td class="LHeight">應該也是一個圖</td>
            </tr>
        </table>
    </div>
</div>