<div class="row">
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InfoTable">
            <tr class="InsertDataFromTr">
                <th>rApp URL</th>
                <td class="LHeight">http://test.tl.rApp.com</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Method</th>
                <td class="LHeight">
                    Post
                </td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>rApp Name</th>
                <td class="LHeight">rApp Dream</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Description</th>
                <td class="LHeight">rApp make dream come true</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InputFromTable">
            <tr class="InsertDataFromTr">
                <th>Manufacturer</th>
                <td class="LHeight">CHT_TL</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Scope</th>
                <td class="LHeight">TL B Platform</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Date</th>
                <td class="LHeight">2021/09/01 12:00:00</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Contact</th>
                <td class="LHeight">TL_test@@com.tw</td>
            </tr>
        </table>
    </div>
</div>