<div class="row">
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InfoTable">
            <tr class="InsertDataFromTr">
                <th>CPU Loading</th>
                <td class="LHeight">50%</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Memory Loading</th>
                <td class="LHeight">8GB/64GB</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>traffic</th>
                <td class="LHeight">OOMbps</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>temperature</th>
                <td class="LHeight">85*C</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InputFromTable">
            <tr class="InsertDataFromTr">
                <th>storage</th>
                <td class="LHeight">995MB</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Operation Time</th>
                <td class="LHeight">99587min.</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Power Consumption</th>
                <td class="LHeight">1287W</td>
            </tr>
        </table>
    </div>
</div>
