<div class="row">
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InfoTable">
            <tr class="InsertDataFromTr">
                <th>No Of PolicyType</th>
                <td class="LHeight">5</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>No Of Policy</th>
                <td class="LHeight">3</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>No Of Active Policy</th>
                <td class="LHeight">2</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>No of Station</th>
                <td class="LHeight">5</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 PartialInsertDataFrom">
        <table class="InputFromTable">
            <tr class="InsertDataFromTr">
                <th>No of UE</th>
                <td class="LHeight">587</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>No of xApp</th>
                <td class="LHeight">12</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Running xApp</th>
                <td class="LHeight">8</td>
            </tr>
            <tr class="InsertDataFromTr">
                <th>Coverage</th>
                <td class="LHeight">here is map</td>
            </tr>
        </table>
    </div>
</div>
