<div class="row">
    <div class="col-md-4 PolicyContainer">
        <div class="row PolicyTabContainer">
            <div class="PTab">
                PolicyType
            </div>
            <div class="PTab">
                Policy
            </div>
        </div>
        <div class="row PolicyListContainer">
            <div class="PolicyObj">
                AddPolicyType
            </div>
            <div class="PolicyObj">
                PolicyType1
            </div>
            <div class="PolicyObj">
                PolicyType2
            </div>
            <div class="PolicyObj">
                PolicyType3
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="PolicyInfoContainer">
            Here is Policy Detail Info
        </div>
    </div>
</div>