<table class="InfoTable" style=" border: 1px solid black;">
    <tr class="InsertDataFromTr">
        <th style=" border: 1px solid black;">Col1</th>
        <th style=" border: 1px solid black;">Col2</thstyle=">
        <th style=" border: 1px solid black;">Col3</thstyle=">
        <th style=" border: 1px solid black;">Col4</thstyle=">
    </tr>
    <tr class="InsertDataFromTr">
        <td style=" border: 1px solid black;">data1</td>
        <td style=" border: 1px solid black;">data2</td>
        <td style=" border: 1px solid black;">data3</td>
        <td style=" border: 1px solid black;">data4</td>
    </tr>
    <tr class="InsertDataFromTr">
        <td style=" border: 1px solid black;">data1</td>
        <td style=" border: 1px solid black;">data2</td>
        <td style=" border: 1px solid black;">data3</td>
        <td style=" border: 1px solid black;">data4</td>
    </tr>
    <tr class="InsertDataFromTr">
        <td style=" border: 1px solid black;">data1</td>
        <td style=" border: 1px solid black;">data2</td>
        <td style=" border: 1px solid black;">data3</td>
        <td style=" border: 1px solid black;">data4</td>
    </tr>
    <tr class="InsertDataFromTr">
        <td style=" border: 1px solid black;">data1</td>
        <td style=" border: 1px solid black;">data2</td>
        <td style=" border: 1px solid black;">data3</td>
        <td style=" border: 1px solid black;">data4</td>
    </tr>
    <tr class="InsertDataFromTr">
        <td style=" border: 1px solid black;">data1</td>
        <td style=" border: 1px solid black;">data2</td>
        <td style=" border: 1px solid black;">data3</td>
        <td style=" border: 1px solid black;">data4</td>
    </tr>
</table>